body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
.Content{
  margin-right: 20px;
  margin-left: 20px;
}
.Content__header{
  padding-left: 10px;
  padding-top: 5px;
  background: #cb9834;
}
.Content__lgu{
  font-size: 24px; 
  margin:0px;
  text-transform: uppercase;
  text-align: left;
}
.Content__months{
  width: 200px;
}
.Content__years {
  width: 100px;
}
.Content__measurement {
  width: 150px;
}
.Content__partners {
  width: 150px;
}
.Content__paypartners {
  width: 150px;
}
h3{
  margin: 0px;;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table td {
  font-size: 24px;
}

table th,
table td {
  padding: .225em;
  text-align: left;
}

table th {
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 27px;
  color: #ffffff;
  font-weight: bold;
  background: #cb9834;
  text-align: left;
}
table tr:last-child {
  background-color:#d4d4d4;
  font-weight: bold;
}
@media only screen and (max-width: 1600px) {
  .Content__header p{
  font-size: 16px;
  }
  .Content__lgu{
  font-size: 16px; 
  }
  .Content__partners{
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  tr::first-line{
    text-align: center;
  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em !important;
    text-align: right !important;
    height: 21px;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
